
<div *ngFor='let usuario of usuariosRecibidos'>
  <label> Nombre: </label>
  <span>{{ usuario.Nombre}} - </span>
  <label>Apellido: </label>
  <span>{{ usuario.Apellido}} - </span>
  <label>Email: </label>
  <span>{{ usuario.email}} - </span>
  <label>Fecha Nacimiento: </label>
  <span>{{ usuario.FechaNac}} - </span>
  <label>Sexo: </label>
  <span>{{ usuario.Sexo}} - </span>
  <label>Foto: </label>
  <span><img src="{{ usuario.FotoPerfil}}" class="img-responsive margin imagenDeQuienSoy"  alt="Image"> </span>

</div>
